<h1>Flight Search</h1>
<form #f=ngForm appRoundTrip>
    <div class="error" *ngIf="f?.errors">
        {{ f?.errors | json }}
    </div>
    <div class="error" *ngIf="f?.hasError('appRoundTrip')">
        Round Trips are not supported!
    </div>
    <div class="form-group">
        <label>From:</label>
        <input class="form-control"
               [(ngModel)]="from"
               name="from"
               required
               minlength="3"
               maxlength="30"
               [appCity]="'Graz,München,Hamburg,Frankfurt,Zürich,Wien'"
               [strict]="true"
               appAsyncCity
        >

        <app-validation-errors [errors]="f?.controls?.from?.errors"></app-validation-errors>

        <div *ngIf="f?.controls?.from?.hasError('appCity')">
            Die Stadt wird nicht angeflogen.
        </div>
        <div class="error" *ngIf="f?.controls?.from?.hasError('appAsyncCity')">
            Die Stadt wird nicht angeflogen.
        </div>
        <div class="error" *ngIf="f?.controls?.from?.pending">
            Validierung wird ausgeführt!
        </div>
        <div class="error" *ngIf="f?.controls?.from?.valid === false">
            Es liegen Validierungsfehler für diese Eingabe vor.
        </div>
        <div class="error" *ngIf="f?.controls?.from?.hasError('required')">
            Dieses Feld ist ein Pflichtfeld.
        </div>
        <div class="error" *ngIf="f?.controls?.from?.hasError('minlength')">
            Erfassen Sie bitte min. {{ f?.controls?.from?.errors?.minlength?.requiredLength }} Zeichen.
        </div>
        <div class="error" *ngIf="f?.controls?.from?.errors">
            Internes Errors-Objekt: {{ f?.controls?.from?.errors | json }}
        </div>
    </div>
    <div class="form-group">
        <label>To:</label>
        <input class="form-control"
               [(ngModel)]="to"
               name="to"
        >
    </div>
    <div class="form-group">
        <input type="checkbox" id="delayFilter" name="delayFilter" [(ngModel)]="delayFilter">
        &nbsp;
        <label for="delayFilter">Delayed</label>
    </div>
    <div class="form-group">
        <input type="checkbox" name="nonstop" id="nonstop" [(ngModel)]="nonstop">
        &nbsp;
        <label for="nonstop">Nonstop</label>
    </div>
    <div class="form-group">
        <label>Flight Class</label>
        <div *ngFor="let c of flightClasses">
            <label>
                <input
                        type="radio"
                        name="flightClass"
                        [(ngModel)]="flightClass"
                        [value]="c"
                >
                {{ c.name }}
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>Luggage</label>
        <select [(ngModel)]="luggage" name="luggage" class="form-control">
            <option *ngFor="let l of luggageOptions" [ngValue]="l">{{l.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-default"
                (click)="search()"
                [disabled]="!f?.valid"
        >
            Search
        </button>
    </div>
    <div class="row">
        <div
                *ngFor="let flight of flights | statusFilter: delayFilter"
                class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"
        >
            <app-flight-card
                    [item]="flight"
                    [(selected)]="basket[flight.id]"
            ></app-flight-card>
        </div>
    </div>
</form>
<b>Basket</b>
<pre>{{ basket | json }}</pre>
<pre>{{ selectedFlight | json }}</pre>
